<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5dcf7eb8-8572-4ae5-a0c3-9b59b16befe8/resourceGroups/PrediCopResourceGroup/providers/Microsoft.Web/sites/predicop</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://predicop-gvb7fjbhhwe2h8bj.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>291c1126-1a44-274f-d78d-d2e7388cda88</ProjectGuid>
    <PublishUrl>https://predicop-gvb7fjbhhwe2h8bj.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$predicop</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>